In [1]:
import pandas as pd

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [4]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [6]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [7]:
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [8]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [9]:
s[1]

C:\Users\yoosj\AppData\Local\Temp\ipykernel_25200\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

3448737

In [10]:
s["대구"]

2466052

In [11]:
s[ [0, 3, 1] ]

C:\Users\yoosj\AppData\Local\Temp\ipykernel_25200\3517280113.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[ [0, 3, 1] ]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [12]:
s[ (250e4 < s) & (s < 500e4) ]  # 인구가 250만 초과, 500만 미만인 경우

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [13]:
s[1:3] #end -1

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [14]:
s["부산":"대구"] #라벨인덱싱 할때는 end -1 안됨

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [15]:
s0 = pd.Series(range(3), index = ['a','b','c'])
s0

a    0
b    1
c    2
dtype: int64

In [16]:
s0.a

0

In [17]:
s.부산

3448737

In [18]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [19]:
'서울' in s

True

In [20]:
'대전' in s

False

In [21]:
for k, v in s.items():
    print("%s = %d" % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [23]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [24]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
s2 #순서지정 = 인덱스정해주기

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [25]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64