In [1]:
#001 
print('Hello World')

Hello World

In [4]:
#002
print ("Mary's cosmetics")

Mary's cosmetics

In [5]:
#003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#004
print('C:\windows')

C:\windows

In [7]:
#005
print("안녕하세요. \n만나서\t\t반갑습니다.")

#\n은 줄바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [9]:
#006
#예상결과 : 오늘은 일요일
print ("오늘은","일요일")

오늘은 일요일

In [11]:
#007
print('naver','kakao','sk','samsung', sep=';')

naver;kakao;sk;samsung

In [15]:
#008
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [21]:
#009
print("first",end="");print("second")

firstsecond

In [23]:
#010
print(5/3)

1.6666666666666667

In [26]:
#011 
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [35]:
#012 ->처음에 문제이해못함
시가총액 = 2980000000000
현재가 = 500000
PER = 15.79

print (시가총액, type(시가총액))
print (현재가, type(현재가))
print (PER, type(PER))

2980000000000 <class 'int'>
500000 <class 'int'>
15.79 <class 'float'>

In [38]:
#013
s = "hello"
t = "python"
print(s[:]+'! '+t[:])

hello! python

In [39]:
#014
#예상결과 = 8
2+2*3

8

In [40]:
#015
a= "132"
print (a, type(a))

132 <class 'str'>

In [43]:
#016 -> 땡! 
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [47]:
#017
num = 100
num_str = str(num)
print (num_str, type(num_str))

100 <class 'str'>

In [54]:
#018
a = "15.79"
a_float = float(a)
print (a_float, type(a_float))

15.79 <class 'float'>

In [58]:
#019
year = "2020"
year_int = int(year)
print(year_int-3, year_int-2, year_int-1)

2017 2018 2019

In [61]:
#020
월할부 = 48584
총금액 = 월할부*36
print(총금액)

1749024

In [64]:
#021
letters = 'python'
print(letters[0],letters[2])

p t

In [70]:
#022
lp = "24가2210"
print(lp[-4:])

2210

In [71]:
#023
str = "홀짝홀짝홀짝"
print(str[::2])

홀홀홀

In [74]:
#024 -> 땡!
str = "PYTHON"
print(str[::-1])

NOHTYP

In [77]:
#025 -> 공백도 "" 처리! 
pn = "010-1111-2222"
print(pn.replace("-"," "))

010 1111 2222

In [89]:
#026
pn1=pn.replace(" ","")
print(pn1)

01011112222

In [93]:
#027 
url = "http://sharebook.kr"
print(url[-2:])

kr

In [95]:
#027-1 -> split 사용해야 하나..? 
url = "http://sharebook.kr"
url_s=url.split('.')
print(url_s[-1])

kr

In [96]:
#028 -> 땡! (정답은 오류, 문자열은 immutable)
#예상결과 : python 
a = 'python'
a[0] ='P'
print(lang)

TypeError: 'str' object does not support item assignment

In [98]:
#029
a = 'abcdfe2a354a32a'
print(a.replace('a','A'))

Abcdfe2A354A32A

In [104]:
#030 -> 땡! (문자열은 immutable!!!!)
#예상결과 : aBcd
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [106]:
#031
#예상결과 : 34
a = "3"
b = "4"
print(a + b)

34

In [107]:
#032
#예상결과 : HiHiHi
print("Hi" * 3)

HiHiHi

In [109]:
#033
print('-'*80)

--------------------------------------------------------------------------------

In [111]:
#034 -> 공백넣기!
t1 = "python"
t2 = "java"
t3 = t1 + ' ' +t2 + ' '
print (t3*4)

python java python java python java python java

In [118]:
#035

n1 = '김민수'
a1 = 10
n2 = '이철희'
a2 = 13

print('이름: %s 나이: %d' %(n1,a1))
print('이름: %s 나이: %d' %(n2,a2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [117]:
#036
print('이름: {} 나이: {}'.format(n1,a1))
print('이름: {} 나이: {}'.format(n2,a2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [120]:
#037
print(f'이름: {n1} 나이: {a1}')
print(f'이름: {n2} 나이: {a2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [122]:
#038
a = "5,969,782,550"
a1 = a.replace(',','')
a1_int = int(a1)
print(a1_int, type(a1_int))

5969782550 <class 'int'>

In [123]:
#039
분기 = "2020/03(E) (IFRS연결)"
print(분기 [:7])

2020/03

In [125]:
#040
data = "   삼성전자    "
print(data.strip())

삼성전자

In [126]:
#041
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [127]:
#042
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [130]:
#043
a = 'hello'
print(a.capitalize())

Hello

In [152]:
#044
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [150]:
#045 -> 떙! 괄호를 두번친다..? 
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [153]:
#046
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [156]:
#047
a = "hello world"
a.split(" ")

['hello', 'world']

In [158]:
#048
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [160]:
#049
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [161]:
#050
data = "039490     "
date.rstrip()

'2020-05-01'

In [162]:
#051
movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [164]:
#052
movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [166]:
#053
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [171]:
#054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [174]:
#054-1
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [175]:
#055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[2]
del movie_rank[-1]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [177]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
print(lang3)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [180]:
#057 -> 땡! 정답확인

nums = [1, 2, 3, 4, 5, 6, 7]
print ("max: ", max(nums))
print ("min: ", min(nums))

max:  7
min:  1

In [182]:
#058
nums = [1, 2, 3, 4, 5]
print (sum(nums))

15

In [184]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [187]:
#060 -> avg는 없었다.. 계산해야됨
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [189]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [191]:
#062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [193]:
#063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [200]:
#064
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [202]:
#064-1
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [205]:
#065 
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[-1])

삼성전자 Naver

In [212]:
#066 ->정답확인
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [213]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [214]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [218]:
#069
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [221]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [225]:
#071
my_variable= ()
print(type(my_variable))

<class 'tuple'>

In [226]:
#072
movie_rank = ('닥터 스트레인지','스플릿','럭키')
type(movie_rank)

tuple

In [230]:
#073 -> 땡! 튜플이 되려면 , 찍어서 값을 2개 이상 만들어야
a = (1, )
type(a)

tuple

In [232]:
#074
#튜플은 값을 변경할 수 없다! 
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [233]:
#075
t = 1, 2, 3, 4
type(t)

tuple

In [235]:
#076
t = ('A', 'B', 'C')
type(t)

tuple

In [239]:
#077 ->정답확인
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [241]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [242]:
#079 
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [257]:
#080
a = tuple(range(1,100))
b = tuple(a[1::2])
print(b)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 끄으으으으으읕~!