In [2]:
#201
def print_coin():
    print("비트코인")

In [3]:
#202
print_coin()

비트코인

In [4]:
#203
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [7]:
#204
def print_coins():
    for i in range(100):
        print('비트코인')

In [8]:
#205
#오류 이유 : 함수가 지정되기 전임
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [9]:
#206
# ABCAB
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [10]:
#207
#ACB
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [11]:
#208
#ACBED
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [12]:
#209
#BA
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [13]:
#210
#BCBCBCA
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [14]:
#211
#안녕Hi
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [15]:
#212
#7 15
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [18]:
#213
#오류이유 : 값을 지정안함

def 함수(문자열) :
    print(문자열)

In [19]:
#214
#오류이유 : 문자열과 숫자는 더할수 없다
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

TypeError: can only concatenate str (not "int") to str

In [20]:
#215
def print_with_smile(string):
    print(string ,":D")

In [21]:
#216
print_with_smile('안녕하세요')

안녕하세요 :D

In [23]:
#217
def print_upper_price(num):
    print(num*1.3)

In [24]:
#218
def print_sum(a,b):
    print(a+b)

In [31]:
#219
def print_arithmetic_operation(a,b):
    print(a,'+',b,'=',a+b)
    print(a,'-',b,'=',a-b)
    print(a,'*',b,'=',a*b)
    print(a,'/',b,'=',a/b)

In [32]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [33]:
#220
def print_max(a,b,c):
    max = 0
    if a > max :
        max = a
        if b > max:
            max = b
            if c > max :
                max = c
                print(max)

In [37]:
#221
def print_reverse(string):
    print(string[::-1])

In [38]:
print_reverse("python")

nohtyp

In [41]:
#222
def print_scort(score):
    print(sum(score)/len(score))

In [42]:
#223
def print_even(num_list):
    for a in num_list:
        if a % 2 == 0:
            print(a)

In [43]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [60]:
#224
def print_keys(dict):
    for a in dict.keys():
        print(a)

In [47]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [63]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(my_dict,key):
    print(my_dict[key])

In [64]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [73]:
#226
def print_5xn(string):
    a = int(len(string) / 5)
    for i in range(a + 1) :
        print(string[i * 5: i * 5 + 5])

In [74]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [77]:
#227
def print_mxn(string,num):
    a = int(len(string)/num)
    for i in range(a+1):
        print(string[i*num:i*num+num])

In [79]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [80]:
#228
def calc_monthly_salary(annual_sal):
    sal = int(annual_sal / 12)
    print(sal)

In [81]:
calc_monthly_salary(12000000)

1000000

In [82]:
#229
#왼쪽:100 오른쪽:200
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

In [83]:
my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [84]:
#230
#왼쪽:200 오른쪽:100
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

In [85]:
my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [86]:
#231
#4.... -> return이 없어서 오류
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [89]:
#232
def make_url(string):
    return "www."+string+".com"

In [90]:
make_url("naver")

'www.naver.com'

In [95]:
#233
def pickup_even(list):
    result=[]
    for a in list:
        if a % 2 == 0:
            result.append(a)
    return(result)

In [96]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [103]:
#234
def convert_int(string):
    return int(string.replace(',',''))

In [104]:
convert_int("1,234,567")

1234567

In [114]:
#235
#22
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [113]:
#236
#22
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [112]:
#237
#140
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [111]:
#238
#16
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [118]:
#239
#16
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [117]:
#240
#28
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

## 끄으으으으으으읕!