In [1]:
#131
#사과
#귤
#수박
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
#132
#아무것도 출력되지않음...? 
#"들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [5]:
#133
a = 'A'
print(a)
b = 'B'
print(b)
c = 'c'
print(c)

A
B
c

In [6]:
#134
p = '출력'
a = 'A'
print(p,a)
b = 'B'
print(p,b)
c = 'C'
print(p,c)

출력 A
출력 B
출력 C

In [7]:
#135
p = '변환'
a = 'A'
print(p,a.lower())
b = 'B'
print(p,b.lower())
c = 'C'
print(p,c.lower())

변환 a
변환 b
변환 c

In [8]:
#136
for a in [10,20,30]:
    print(a)

10
20
30

In [10]:
#137
for a in [10,20,30]:
    print(a)

10
20
30

In [11]:
#138
for a in [10,20,30]:
    print(a)
    print('-'*7)

10
-------
20
-------
30
-------

In [12]:
#139
for a in [10,20,30]:
    print('+'*4)
    print(a)

++++
10
++++
20
++++
30

In [13]:
#140
for a in [10,20,30,40]:
    print('-'*7)

-------
-------
-------
-------

In [15]:
#141
list = [100, 200, 300]
for a in list:
    print(a+10)

110
210
310

In [16]:
#142
list = ["김밥", "라면", "튀김"]
for a in list:
    print('오늘의 메뉴: ',a)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [17]:
#143
list = ["SK하이닉스", "삼성전자", "LG전자"]
for a in list:
    print(len(a))

6
4
4

In [18]:
#144
list = ['dog', 'cat', 'parrot']
for a in list:
    print(a,len(a))

dog 3
cat 3
parrot 6

In [19]:
#145
for a in list:
    print(a[0])

d
c
p

In [21]:
#146
list = [1, 2, 3]
for a in list:
    print("3 X",a)

3 X 1
3 X 2
3 X 3

In [24]:
#147
for a in list:
    print("3 X",a,'=',a*3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [25]:
#148
list = ["가", "나", "다", "라"]
for a in list[1:]:
    print(a)

나
다
라

In [27]:
#149
for a in list[0],list[2]: #list[::2] 증감폭 2 
    print(a)

가
다

In [31]:
#150
for a in list[::-1]:
    print(a)

라
다
나
가

In [ ]:
#151

In [38]:
list = [3, -20, -3, 44]
for a in list[1:3]:
    print(a)

-20
-3

In [42]:
#152
list = [3, 100, 23, 44]
for a in list:
    if a % 3 == 0:
        print(a)

3

In [43]:
#153
list = [13, 21, 12, 14, 30, 18]
for a in list:
    if a < 20 and a % 3 == 0:
        print(a)

12
18

In [45]:
#154
list = ["I", "study", "python", "language", "!"]
for a in list:
    if len(a) >= 3:
        print(a)

study
python
language

In [47]:
#155
list = ["A", "b", "c", "D"]
for a in list:
    if a.isupper():
        print(a)

A
D

In [48]:
#156
list = ["A", "b", "c", "D"]
for a in list:
    if a.islower():
        print(a)

b
c

In [5]:
#157
list = ['dog', 'cat', 'parrot']
for a in list:
    print(a[0].upper() + a[1:])

Dog
Cat
Parrot

In [11]:
#158
list = ['hello.py', 'ex01.py', 'intro.hwp']
for a in list:
    result = a.split('.')
    print(result[0])

hello
ex01
intro

In [20]:
#159
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in list:
    result = a.split('.')
    if result[1] == 'h':
        print(a)

intra.h
define.h

In [23]:
#160
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in list:
    result = a.split('.')
    if (result[1] == 'h')or(result[1] == 'c'):
        print(a)

intra.h
intra.c
define.h

In [29]:
#161
a = 0
for a in range(100):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:
#162
a = 0
for a in range(2002,2051,4):
    print (a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [42]:
#163
a = 0
for a in range(3,31,3):
    print(a)

3
6
9
12
15
18
21
24
27
30

In [43]:
#164
a = 0
for a in range (100):
    print(99 -a)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [49]:
#165
a = 0
for a in range(10):
    print(a / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [52]:
#166
a = 0
for a in range(1,10) :
    print("3X",a,'=',a*3)

3X 1 = 3
3X 2 = 6
3X 3 = 9
3X 4 = 12
3X 5 = 15
3X 6 = 18
3X 7 = 21
3X 8 = 24
3X 9 = 27

In [56]:
#167
a = 0
for a in range(1,10) :
    if a % 2 == 1:
        print("3X",a,'=',a*3)

3X 1 = 3
3X 3 = 9
3X 5 = 15
3X 7 = 21
3X 9 = 27

In [65]:
#168
a = 0
result = 0
for a in range(1,11):
    result += a 
print(result)

55

In [69]:
#169
a = 0
result = 0
for a in range(1,11):
    if a % 2 == 1:
        result += a
print(result)

25

In [70]:
#169-1
a = 0
result = 0
for a in range(1,11,2):
    result += a 
print(result)

25

In [76]:
#170
a = 0
result = 1
for a in range(1,11):
    result *= a 
print(result)

3628800

In [79]:
#171
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(price_list[a])

32100
32150
32000
32500

In [80]:
#172
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(a, price_list[a])

0 32100
1 32150
2 32000
3 32500

In [82]:
#173
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(3-a, price_list[a])

3 32100
2 32150
1 32000
0 32500

In [85]:
#174
price_list = [32100, 32150, 32000, 32500]
for a in range(1,4):
    print(90+10*a, price_list[a])

100 32150
110 32000
120 32500

In [101]:
#175
my_list = ["가", "나", "다", "라"]
for a in range(0, 3):
    print(my_list[a],my_list[a+1])

가 나
나 다
다 라

In [102]:
#176
my_list = ["가", "나", "다", "라", "마"]
for a in range(0, 3):
    print(my_list[a], my_list[a+1], my_list[a+2])

가 나 다
나 다 라
다 라 마

In [110]:
#177
my_list = ["가", "나", "다", "라"]
for a in range(3, 0, -1):
    print(my_list[a], my_list[a-1])

라 다
다 나
나 가

In [111]:
#178
my_list = [100, 200, 400, 800]
for a in range(0,3):
    print(my_list[a+1]-my_list[a])

100
200
400

In [117]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for a in range(0,4):
    sum = my_list[a] + my_list[a+1] + my_list[a+2]
    print(sum/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [125]:
#180
volatility=[]
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for a in range(5):
    diff = high_prices [a]-low_prices[a]
    volatility.append(diff)
print(volatility)

[50, 100, 30, 80, 0]

In [127]:
#181
apart = [['101호','102호'],
        ['201호','202호'],
        ['301호','302호']]
apart[0]

['101호', '102호']

In [131]:
#182
stock = [['시가',100,200,300],
         ['종가',80,210,330]]
stock[0]

['시가', 100, 200, 300]

In [133]:
#183
stock = {'시가':[100,200,300],
         '종가':[80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [134]:
#184
stock = {'10/10':[80,110,70,90],
        '10/11':[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [139]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [141]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a:
        print(b,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [143]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart[::-1]:
    for b in a[::-1]:
        print(b,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [154]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [155]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [156]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for a in apart:
    for b in a:
        print(b,'호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [158]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a in data:
    for b in a:
        print(b+b*0.00014)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [159]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a in data:
    for b in a:
        print(b+b*0.00014)
    print('-'*4)

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [161]:
#193
result=[]
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a in data:
    for b in a:
        result.append(b+b*0.00014)
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [164]:
#194
result=[]
sub=[]
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for a in data:
    for b in a:
        sub.append(b+b*0.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086], [2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086], [2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]]

In [173]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:]:
    print(a[3])

100
190
310

In [175]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:]:
    if a[3]>150:
        print(a[3])

190
310

In [177]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:]:
    if a[3] >= a[0]:
        print(a[3])

100
310

In [180]:
#198
vol = []
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:]:
    diff = a[1] - a[2]
    vol.append(diff)
print(vol)

[40, 30, 10]

In [184]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a in ohlc[1:]:
    if a[3] > a[0]:
        print(a[1]-a[2])

10

In [190]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result = 0
for a in ohlc[1:]:
    result += (a[0]-a[3])
print(result)

0