In [6]:
#241
import datetime

now = datetime.datetime.now()
print(now)

2024-06-18 17:59:40.501384

In [7]:
#242
import datetime

now = datetime.datetime.now()
print(now, type(now))

2024-06-18 18:00:00.075610 <class 'datetime.datetime'>

In [11]:
#243
import datetime

now = datetime.datetime.now()

for day in range(1,6):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2024-06-17 18:02:29.223163
2024-06-16 18:02:29.223163
2024-06-15 18:02:29.223163
2024-06-14 18:02:29.223163
2024-06-13 18:02:29.223163

In [12]:
#244
import time

time.strftime('%X',time.localtime(time.time()))

'18:03:51'

In [14]:
#245 - ???
import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")

In [15]:
#246
import time 
for i in range (10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#247
#1. import.모듈이름
#2. import 모듈이름 as 별칭
#3. from 모듈이름 import 클래스이름
#4. from 모듈이름 import *

In [16]:
#248
import os
a = os.getcwd()
print(a)

C:\workspace\wassup3\01_Python_grammar\과제

In [19]:
#249
import os
os.rename("C:/Users/yoosj/OneDrive/Desktop/aaa.txt","C:/Users/yoosj/OneDrive/Desktop/bbb.txt")

In [21]:
#250 - ???
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [1]:
#251
#클래스 = 데이터와 함수를 한 곳에 정의
#객체 = 클래스의 결과물

In [1]:
#252
class Human:
    pass

In [2]:
#253
areum = Human()

In [22]:
#254
class Human:
    def __init__(self):
        print('응애응애')

In [23]:
areum = Human()

응애응애

In [24]:
#255
class Human:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

In [28]:
areum = Human('아름', 25, '여자')
print(areum.name)
print(areum.age)
print(areum.gender)

아름
25
여자

In [29]:
#256
areum.age

25

In [36]:
#257
class Human:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def who(self):
        print(f'이름: {self.name} 나이: {self.age} 성별: {self.gender}')

In [37]:
areum = Human ('아름', 25, '여자')
areum.who()

이름: 아름 나이: 25 성별: 여자

In [42]:
#258
class Human2(Human):
    pass

    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

In [44]:
areum = Human2("불명", "미상", "모름")
areum.who() 

areum.setInfo("아름", 25, "여자")
areum.who()

이름: 불명 나이: 미상 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [45]:
#259
class Human2(Human):
    pass

    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def __del__(self):
        print('나의 죽음을 알리지마라')

In [46]:
areum = Human2('아름',25,'여자')
del(areum)

나의 죽음을 알리지마라

In [53]:
#260 - ????? 
class OMG : 
    def print() :
        print("Oh my god")


mystock.print()

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [54]:
#261
class Stock:
    pass

In [63]:
#262
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")

In [66]:
삼성.name, 삼성.code

('삼성전자', '005930')

In [70]:
#263
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name('삼성전자')
a.name

'삼성전자'

In [71]:
#264
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_code("005930")
a.code

'005930'

In [72]:
#265
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [74]:
삼성 = Stock("삼성전자", "005930")

삼성.name, 삼성.code, 삼성.get_name(), 삼성.get_code()

('삼성전자', '005930', '삼성전자', '005930')

In [76]:
#266
class Stock:
    def __init__(self,name,code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self. pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code

In [78]:
#267
삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
삼성.배당수익률

2.83

In [84]:
#268
class Stock:
    def __init__(self,name,code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self. pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def set_per(self, per):
        self.per = per
        
    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code

In [85]:
#269
삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [93]:
#270
종목 = []

삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
현대차 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
LG전자 = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)


for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [100]:
#271 - num1 부터.. 막힘
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3

In [101]:
kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
923-65-154263

In [104]:
#272
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

In [105]:
kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [146]:
#273
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

kim = Account('김민수',100)
lee = Account('이민수',100)
kim.get_account_num()

2

In [147]:
#274
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [150]:
#275
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if amount < self.balance:
            self.balance -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [153]:
#276
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if amount < self.balance:
            self.balance -= amount

    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ',self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', self.balance)

p = Account('파이썬',10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  194-55-055709
잔고:  10000

In [170]:
#277
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.deposit_count = 0
        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                self.balance = self.balance*1.01

    def withdraw(self, amount):
        if amount < self.balance:
            self.balance -= amount

    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ',self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', self.balance)

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [171]:
#278
data = []
k = Account("김", 10000000)
h = Account("하", 10000)
n = Account("나", 10000)

data.append(k)
data.append(h)
data.append(n)

print(data)

[<__main__.Account object at 0x00000237C2C12810>, <__main__.Account object at 0x00000237C1B46E10>, <__main__.Account object at 0x00000237C29BA6D0>]

In [172]:
#279

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  김
계좌번호:  979-22-001175
잔고:  10000000

In [177]:
#280
import random

class Account:

    account_count = 0
    
    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3) 
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                self.balance = self.balance*1.01

    def withdraw(self, amount):
        if amount < self.balance:
            self.balance -= amount

    def display_info(self):
        print('은행이름: ', self.bank)
        print('예금주: ',self.name)
        print('계좌번호: ', self.account_number)
        print('잔고: ', self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)

k = Account("김", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

In [119]:
#281
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [121]:
car = 차(2,1000)
car.바퀴, car.가격

(2, 1000)

In [122]:
#282
class 자전차(차):
    pass

In [124]:
#283
bicycle = 자전차(2,100)
bicycle.가격

100

In [126]:
#284
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

bicycle = 자전차(2,100,'시마노')
bicycle.구동계

'시마노'

In [131]:
#285
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)

car=자동차(4,1000)
car.정보()

바퀴수 4
가격 1000

In [133]:
#286
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴,가격)
        self.구동계 = 구동계
    
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [135]:
#287
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴,가격)
        self.구동계 = 구동계
    
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)
        print('구동계', self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [136]:
#288 
#자식호출
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()

자식호출

In [137]:
#289
#자식생성
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()

자식생성

In [138]:
#290
#자식생성,부모생성
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성